<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<!-- Datasource for LOCAL database connection -->
      
   	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/leavedb" />
		<property name="username" value="root" />
		<property name="password" value="0502" />

	</bean>
	 <!-- 
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://198.38.82.101:3306/junaidp_internalAudit" />
		<property name="username" value="junaidp_survey" />
		<property name="password" value="goandgone" />

	</bean>
 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.leavemanagement.shared.User</value>
				<value>com.leavemanagement.shared.LeaveRecord</value>
				<value>com.leavemanagement.shared.LeaveTypes</value>
				<value>com.leavemanagement.shared.Roles</value>
				<value>com.leavemanagement.shared.Company</value>
				<value>com.leavemanagement.shared.Countries</value>
				<value>com.leavemanagement.shared.LineofService</value>
				<value>com.leavemanagement.shared.SubLineofService</value>
				<value>com.leavemanagement.shared.Phases</value>
				<value>com.leavemanagement.shared.Job</value>
				<value>com.leavemanagement.shared.JobEmployees</value>
				<value>com.leavemanagement.shared.JobAttributes</value>
				<value>com.leavemanagement.shared.TimeSheet</value>
				<value>com.leavemanagement.shared.MonthAllowedHours</value>
				<value>com.leavemanagement.shared.AttributeRating</value>
					<value>com.leavemanagement.shared.Domains</value>
			
			
			</list>
		</property>
	</bean>
	<bean id="ManagerExams" class="com.leavemanagement.database.MySQLRdbHelper">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>

